In [86]:
import pandas as pd
import os
import numpy as np
import json
from pandas.io.json import json_normalize

In [2]:
file = ['receipts', 'users', 'brands']

receipts = os.path.join('raw_data_files', file[0]+'.json')
users = os.path.join('raw_data_files', file[1]+'.json')
brands = os.path.join('raw_data_files', file[2]+'.json')

In [3]:
users

'raw_data_files/users.json'

In [4]:
df_receipts = pd.read_json(receipts, orient='records', lines=True)
df_users = pd.read_json(users, orient='records', lines=True)
df_brands = pd.read_json(brands, orient='records', lines=True)

In [36]:
# # Save a copy of csv files for each dataset
# df_receipts.to_csv(os.path.join('csv_data_files', file[0]+'.csv'), index=False, header=True)
# df_users.to_csv(os.path.join('csv_data_files', file[1]+'.csv'), index=False, header=True)
# df_brands.to_csv(os.path.join('csv_data_files', file[2]+'.csv'), index=False, header=True)

<hr>

### Receipts data

In [34]:
df_receipts.head(3)

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b

In [6]:
df_receipts.dtypes

_id                         object
bonusPointsEarned          float64
bonusPointsEarnedReason     object
createDate                  object
dateScanned                 object
finishedDate                object
modifyDate                  object
pointsAwardedDate           object
pointsEarned               float64
purchaseDate                object
purchasedItemCount         float64
rewardsReceiptItemList      object
rewardsReceiptStatus        object
totalSpent                 float64
userId                      object
dtype: object

In [7]:
# Check if null values are allowed in each field
df_receipts.isna().any()

_id                        False
bonusPointsEarned           True
bonusPointsEarnedReason     True
createDate                 False
dateScanned                False
finishedDate                True
modifyDate                 False
pointsAwardedDate           True
pointsEarned                True
purchaseDate                True
purchasedItemCount          True
rewardsReceiptItemList      True
rewardsReceiptStatus       False
totalSpent                  True
userId                     False
dtype: bool

In [8]:
# What is in `rewardsReceiptItemList`?

df_receipts['rewardsReceiptItemList'][0]

[{'barcode': '4011',
  'description': 'ITEM NOT FOUND',
  'finalPrice': '26.00',
  'itemPrice': '26.00',
  'needsFetchReview': False,
  'partnerItemId': '1',
  'preventTargetGapPoints': True,
  'quantityPurchased': 5,
  'userFlaggedBarcode': '4011',
  'userFlaggedNewItem': True,
  'userFlaggedPrice': '26.00',
  'userFlaggedQuantity': 5}]

In [9]:
df_receipts['rewardsReceiptItemList'][1]

[{'barcode': '4011',
  'description': 'ITEM NOT FOUND',
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '1',
  'quantityPurchased': 1},
 {'barcode': '028400642255',
  'description': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
  'finalPrice': '10.00',
  'itemPrice': '10.00',
  'needsFetchReview': True,
  'needsFetchReviewReason': 'USER_FLAGGED',
  'partnerItemId': '2',
  'pointsNotAwardedReason': 'Action not allowed for user and CPG',
  'pointsPayerId': '5332f5fbe4b03c9a25efd0ba',
  'preventTargetGapPoints': True,
  'quantityPurchased': 1,
  'rewardsGroup': 'DORITOS SPICY SWEET CHILI SINGLE SERVE',
  'rewardsProductPartnerId': '5332f5fbe4b03c9a25efd0ba',
  'userFlaggedBarcode': '028400642255',
  'userFlaggedDescription': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
  'userFlaggedNewItem': True,
  'userFlaggedPrice': '10.00',
  'userFlaggedQuantity': 1}]

In [10]:
df_receipts['rewardsReceiptItemList'][5]

[{'barcode': '4011',
  'description': 'ITEM NOT FOUND',
  'finalPrice': '3.25',
  'itemPrice': '3.25',
  'needsFetchReview': False,
  'originalMetaBriteBarcode': '028400642255',
  'originalMetaBriteDescription': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
  'partnerItemId': '1',
  'pointsNotAwardedReason': 'Action not allowed for user and CPG',
  'pointsPayerId': '5332f5fbe4b03c9a25efd0ba',
  'preventTargetGapPoints': True,
  'quantityPurchased': 1,
  'rewardsGroup': 'DORITOS SPICY SWEET CHILI SINGLE SERVE',
  'rewardsProductPartnerId': '5332f5fbe4b03c9a25efd0ba',
  'userFlaggedBarcode': '4011'}]

In [11]:
# Get a list of all possible keys in the `rewardsReceiptItemList` field...
keys_in_item_list = []

for item_list in df_receipts.loc[df_receipts['rewardsReceiptItemList'].notnull(),
                                 'rewardsReceiptItemList']:
    for item in item_list:
        for key in item:
            if key not in keys_in_item_list:
                keys_in_item_list.append(key)
                
keys_in_item_list

['barcode',
 'description',
 'finalPrice',
 'itemPrice',
 'needsFetchReview',
 'partnerItemId',
 'preventTargetGapPoints',
 'quantityPurchased',
 'userFlaggedBarcode',
 'userFlaggedNewItem',
 'userFlaggedPrice',
 'userFlaggedQuantity',
 'needsFetchReviewReason',
 'pointsNotAwardedReason',
 'pointsPayerId',
 'rewardsGroup',
 'rewardsProductPartnerId',
 'userFlaggedDescription',
 'originalMetaBriteBarcode',
 'originalMetaBriteDescription',
 'brandCode',
 'competitorRewardsGroup',
 'discountedItemPrice',
 'originalReceiptItemText',
 'itemNumber',
 'originalMetaBriteQuantityPurchased',
 'pointsEarned',
 'targetPrice',
 'competitiveProduct',
 'originalFinalPrice',
 'originalMetaBriteItemPrice',
 'deleted',
 'priceAfterCoupon',
 'metabriteCampaignId']

In [91]:
len(keys_in_item_list)

34

In [12]:
# for i in keys_in_item_list:
#     print(i)

In [13]:
# Check to see if `pointsPayerId` is always the same as `rewardsProductPartnerId`
pointsPayerId = []
rewardsProductPartnerId = []

for item_list in df_receipts.loc[df_receipts['rewardsReceiptItemList'].notnull(),
                                 'rewardsReceiptItemList']:
    for item in item_list:
        try:
            pointsPayerId.append(item['pointsPayerId'])
            rewardsProductPartnerId.append(item['rewardsProductPartnerId'])
        except:
            pass
        
# Test if they are the same
testing = []

for i in pointsPayerId:
    testing.append(pointsPayerId == rewardsProductPartnerId)
    
print(np.unique(testing))
print(len(pointsPayerId) == len(rewardsProductPartnerId))

[ True]
True

In [14]:
df_receipts['rewardsReceiptStatus'].value_counts()

FINISHED     518
SUBMITTED    434
REJECTED      71
PENDING       50
FLAGGED       46
Name: rewardsReceiptStatus, dtype: int64

In [15]:
df_receipts.groupby('rewardsReceiptStatus')['totalSpent'].mean()

rewardsReceiptStatus
FINISHED      80.854305
FLAGGED      180.451739
PENDING       28.032449
REJECTED      23.326056
SUBMITTED           NaN
Name: totalSpent, dtype: float64

In [16]:
# # Saving desired data for querying purposes
# avg_spend_by_status = df_receipts[['rewardsReceiptStatus', 'totalSpent']]
# avg_spend_by_status.to_csv('testing_data/avg_spend_by_status.csv', index=False, header=True)

### Users data

In [17]:
df_users.head(3)

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [32]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

In [18]:
df_users.dtypes

_id             object
active            bool
createdDate     object
lastLogin       object
role            object
signUpSource    object
state           object
dtype: object

In [19]:
# Check if null values are allowed in each field
df_users.isna().any()

_id             False
active          False
createdDate     False
lastLogin        True
role            False
signUpSource     True
state            True
dtype: bool

In [20]:
# Question: Are there currently other "roles" in this dataset?
df_users['role'].value_counts()

consumer       413
fetch-staff     82
Name: role, dtype: int64

In [21]:
# Question: What are the possible values for field "active"?
df_users['active'].value_counts()

True     494
False      1
Name: active, dtype: int64

In [22]:
# Question: What are the possible sign up sources?
df_users['signUpSource'].value_counts()

Email     443
Google      4
Name: signUpSource, dtype: int64

### Brands data

In [23]:
df_brands.head(3)

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176

In [33]:
df_brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 73.1+ KB

In [24]:
df_brands.dtypes

_id              object
barcode           int64
category         object
categoryCode     object
cpg              object
name             object
topBrand        float64
brandCode        object
dtype: object

In [25]:
# Check if null values are allowed in each field
df_brands.isna().any()

_id             False
barcode         False
category         True
categoryCode     True
cpg             False
name            False
topBrand         True
brandCode        True
dtype: bool

In [26]:
# Question: Is barcode unique?
df_brands['barcode'].is_unique

False

In [27]:
# What are the duplicates?
df_brands.loc[df_brands['barcode'].duplicated(), 'barcode']

299     511111504139
412     511111504788
536     511111204923
651     511111305125
1012    511111605058
1015    511111704140
1071    511111004790
Name: barcode, dtype: int64

In [28]:
# Question: Are there duplicates in "brandCode"?
df_brands['brandCode'].duplicated().any()

True

In [29]:
# What are the duplicated brandCode?
df_brands.loc[df_brands['brandCode'].duplicated()]['brandCode'].value_counts()

             34
HUGGIES       1
GOODNITES     1
Name: brandCode, dtype: int64

34 NaNs, GOODNITES and HUGGIES are duplicated.

In [30]:
# CPG
df_brands['cpg'][0]

{'$id': {'$oid': '601ac114be37ce2ead437550'}, '$ref': 'Cogs'}

In [31]:
# name
# len(df_brands['name'].unique())
df_brands['name']

0       test brand @1612366101024
1                       Starbucks
2       test brand @1612366146176
3       test brand @1612366146051
4       test brand @1612366146827
                  ...
1162    test brand @1601644365844
1163          Dippin Dots® Cereal
1164    test brand @1598639215217
1165            LIPTON TEA Leaves
1166    test brand @1613158231643
Name: name, Length: 1167, dtype: object

<hr>
<hr>

Testing...

In [38]:
import json

In [39]:
json_string = '{ "name":"John", "age":30, "car":"None" }'

a_json = json.loads(json_string)
print(a_json)

{'name': 'John', 'age': 30, 'car': 'None'}

In [45]:
test_df = pd.DataFrame.from_dict(a_json, orient="index")
test_df

         0
name  John
age     30
car   None

In [46]:
json_string_2 = '{ "name": ["John"], "age": [30], "car": ["None"] }'
b_json = json.loads(json_string_2)
print(b_json)

{'name': ['John'], 'age': [30], 'car': ['None']}

In [48]:
a_dict = {"name": ["John"], "age": [30], "car": ["None"]}
a_dict

{'name': ['John'], 'age': [30], 'car': ['None']}

In [47]:
test_df_2 = pd.DataFrame.from_dict(b_json, orient="columns")
test_df_2

   name  age   car
0  John   30  None

In [51]:
test_df_2 = pd.DataFrame.from_dict(a_dict, orient="columns")
test_df_2

   name  age   car
0  John   30  None

Testing end...

<hr>
<hr>